.menu-lateral {
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	/*
		A propriedade grid-template-rows é usada para definir a altura das linhas em um grid.
		O grid terá quatro linhas.

		• auto: As três primeiras linhas terão alturas automáticas. Isso significa que cada linha se ajustará à altura do conteúdo que estiver dentro dessa linha. Se o conteúdo for pequeno, a linha será pequena. Se o conteúdo for grande, a linha será grande.

		• 1fr: A quarta linha terá uma altura flexível que ocupará o espaço restante disponível. 1fr significa "uma fração" do espaço disponível. Se houver espaço livre após as três primeiras linhas serem definidas, a quarta linha ocupará todo esse espaço.
	*/

	grid-template-rows: repeat(3, auto) 1fr;
	/* repete 'auto' 3 vezes */

	row-gap: 2rem;
	/*
		row-gap: Adiciona espaçamento entre linhas

		O rem é uma medida ótima quando queremos aplicar responsividade no projeto.

		Essa medida pega como ponto de referência a fonte do projeto, o tamanho da fonte que estamos utilizando. E no caso, aqui no menu lateral, estamos utilizando a fonte de 16 pixels. E cada rem, corresponde ao valor da fonte atual. Então como são 2rem, serão 36 pixels de largura que estão sendo aplicados aqui.
	*/
}

.menu-lateral__logo {
	justify-self: center; /* Centralizar na horizontal os elementos */
}